<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="./footer.css">
</head>
<body>
    <div class="footer__container">
<div class="container">
   <div class="footer__top">
    <div class="footer__section_1">
        <img class="footer_logo" src="../assets/logo.png" alt="">
    </div>
    <div class="footer__section_2">
        <h3 class="footer__heading">Alamat</h3>
        <p style="line-height: 2rem;" class="footer__desc">Johar Baru, Kec. Johar Baru,</br> Kolaka utara,</br>
            Daerah Khusus</br>
            Ibukota Jakarta</p>
    </div>
    <div class="footer__section_3">
      
            <h3 class="footer__heading">Kontak</h3>
            <p>Email: admin.persatuanahlifamasipusat @gmail.com</p>
            <p>Telp: 021 4211186</p>
            <p>Fax: 021 – 4211794</p>
      
    </div>
    <div class="footer__section_4">
     
            <h3 class="footer__heading">Link</h3>
           <div class="">
            <a href="pafimarabahan.org" class="footer__ancorr">pafimarabahan.org</a>
            <a href="pafikotajantho.org" class="footer__ancorr">pafikotajantho.org</a>
            <a href="pafikabkampar.org" class="footer__ancorr">pafikabkampar.org</a>
            <a href="pafikotademak.org" class="footer__ancorr">pafikotademak.org</a>
            <a href="pafiparitmalintang.org" class="footer__ancorr">pafiparitmalintang.org</a>
           </div>
           <a class="footer_section_4_last" href="">Lihat link lengkap</a>
        </div>
   </div>
   <div class="footer__bottom">
    <div class="footer__bottom_left">
        <p>© Copyright 2023 PAFI - All Rights Reserved</p>
        <p>Powered By: www.kidi.co.id</p>
    </div>
    <div class="footer__bottom_right">
        <a class="footer__bottom_right_social" href="https://twitter.com" target="_blank" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a class="footer__bottom_right_social" href="https://facebook.com" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a class="footer__bottom_right_social" href="https://instagram.com" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
   </div>

</div>
    </div>
</body>
</html>