:root {
    --poppins:"Poppins", sans-serif;
    --roboto:"Roboto", sans-serif;
    --saira:"Saira", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1196px;
    padding: 0 16px;
    margin: 0 auto;
}

.border {
    border: 2px solid red;
}

.navber {
    background: linear-gradient(to bottom, #EB2582 0%, #890073 100%);
    position: absolute;
    z-index: 99999999999;
    width: 100%;
    
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 24px 0;
}

.navbar_logo {
    max-width: 200px;
}

.navbar_right {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 76px;
}

.menu_item {
    padding: 20px 10px;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    transition: all .5s;
    position: relative;
    &:hover {
        opacity: .7;
    }
}

.contact__button {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 18px;
    color: #B5107A;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 10px;
    transition: all 1s;
    &:hover {
        background-color: #000;
        color: antiquewhite;
    }
}

.hero_container {
    max-width: 973px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 999999999999;

}
.hero__headings_image {
    width: auto;
    height: 702px;
    margin-top: 10px;
}
.hero__headings {
    position: relative;
    text-align: center;
}
.hero__heading_top_div {
    position: absolute;
    top: 55%;
    left: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main {
    font-family: "Rubik Wet Paint", system-ui;
    font-size: 50px;
    letter-spacing: 10%;
    color: #EBFF00;
    padding: 4px 45px 4px 21px;
    background-image:linear-gradient(to bottom, #EB2582 0%,#890073 100% );
    text-shadow: 0px 10px 10px rgba(0, 0, 0, 0.93);
    border-radius: 10px;
}
.with {
    color: #FFEEFE;
    font-family: "Seaweed Script", cursive;
    font-size: 98px;
    letter-spacing: -2px;
    text-shadow: 0px 10px 10px #EB2582;
    margin-left: -15px;
}

.hero_heading {
    position: absolute;
    top: 71%;
    max-width: 1063px;
    left: -5%;
}

.hero__container {
    background-image: url("./assets/herobg.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
}

.hero__container_overlay {
   position: absolute;
   width: 100%;
   height: 100%;
   background: linear-gradient(to bottom, #2FB9C6 0%, #00D1FF 100%);
   opacity: .4;
   
}

.hero__button {
    font-family: var(--saira);
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    z-index: 5000000000000;
    padding: 14px 55px;
    background-image: url(./assets/hero\ button\ bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition:  all 1s ease;
    &:hover {
        filter: invert(1);
        color: #000;
    }
    
}

.hero_button_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 43px;
}

.showcase {
    background: linear-gradient(to bottom, #890073 0%, #890073 100%);
}
.showcase__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 43px 29px;
}

.showcase_img {
    
    cursor: pointer;
    transition: all 1s ease-in-out;
    width: 100%;
    max-width: 130px;
    text-align: center;
}

.info_1 {
    background-image: url(./assets/boy\ playing\ image.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
  
   

}
.info_1_container {
    display: flex;
}
.info_1_left, .info_1_right {
    flex: 1;
    padding: 160px 0;
}
.info_1_bg {
    text-align: center;
    background-image: url(./assets/info\ 1\ bg.png);
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
}
.info_1_left_texts_heading {
    background:linear-gradient(to bottom, #ED1717 0%, #870D0D 100%);
    background-clip: text;
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-family: var(--saira);
   color: transparent;
    font-size: 28px;
    font-style: italic;
}

.info_1_desc {
  font-size: 15px;
  font-family: var(--saira);
  font-weight: 400;
}

.info_1_left_texts {
    padding: 79px 96px 162px 114px;
}

.info_1_border_img {
    max-width: 178px;
    margin-top:8px;
    margin-bottom: 16px;
}

.why_us_section {
    background-image: url(./assets/why\ us\ bg.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    
    margin-top: -2px;
}

.info_2_heading {
  color: #FFFF3C;
  font-family: var(--saira);
  font-style: italic;
  font-size: 30px;
  padding: 5px 95px 5px 85px;
  text-align: right;
  width: fit-content;
  background:linear-gradient(to right, #EB2582 0%, #890073 50%, #000000 100%);
  margin: 0;
  transform: rotate(-3.29deg);
}
.info_2_section_pc {
    padding-top: 120px;
}
.info_2_top {
    display: flex;
    justify-content: end;
}

.info_2_bottom {
    display: flex;
    margin-top: 18px;
    background-image: url(./assets/Rectangle\ 4176.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 500px;
    position: relative;
}

.info_2_bottom_left,.info_2_bottom_right {
    flex: 1;
}
.info_2_bottom_left_img {
    position: absolute;
    bottom: 50px;
    max-width: 530px;
    
}
.info_2_bottom_right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.info_2_bottom_right_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.info_2_desc {
    font-size: 16px;
    color: #fff;
    font-family: var(--saira);
   
    

}

.info_2_bottom_right_container {
    padding: 49px 40px;
background-image: url(./assets/info\ 2\ content\ bg.png);
margin-right: 60px;
background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.border_img_2 {
    position: absolute;
    top: -5px;
    box-shadow: 0 0 15px solid #FFFF3C;
}

.advantage_section {
    margin-top: 97px;
}

.advantage_top_heading_container {
    text-align: center;
}

.advantage_top_heading {
    font-family: var(--poppins);
    font-size: 20px;
    color: #fff;
    line-height: 28px;
    padding: 24px 20px 24px 25px;
    background-image: url(./assets/button\ bg-3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: -85px;

}
.advantage_main_heading {
    font-family: var(--poppins);
    font-size: 30px;
    color: #fff;
    line-height: 38px;
    padding: 24px 20px 24px 25px;
    background-image: url(./assets/button\ bg\ 3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.feature__card_container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    gap: 50;
}

.feature_card_img {
    max-width: 360px;

}

.card {
    transition: all 2s ease;
    position: relative;
    cursor: pointer;
    &:hover {
        animation: rotate3D 2s;
    }
}

.card__text {
    position: absolute;
    z-index: 999;
    top: 17%;
    left:0;
    font-family: var(--poppins);
   font-weight: 600;
   font-size: 24px;
   line-height: 28px;
   width: 100%;
   color: #fff;
   text-align: center;
}

.pricing__section {
    background-image: url("./assets/pricing_bg.png");
   padding-bottom: 115px;
   background-repeat: no-repeat;
   background-position: top;
   background-size: contain;
}

.pricing__top_heading {
    font-size: 30px;
    font-family: var(--saira);
    color: #fff;
    text-align: center;
    background: url("./assets/button\ bg-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 24px 28px;
    
}

.pricing_section_heading {
    padding: 80px 0 69px 0;
    background: url("./assets/border\ image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.pricing__cards{
    display: flex;
    gap: 68px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.pricing__card {
    max-width: 331px;
    position: relative;
    &:hover .pricing__heading_desc {
        text-shadow: 0 0 5px #fff564;
    }
}

.pricing_img {
    width: 100%;
}

.pricing_plan_name {
    color: #0066FF;
    font-family: var(--saira);
    font-weight: 700;
    font-size: 24px;
    position: absolute;
    top: 44%;
    left: -33px;
    transform: rotate(-90deg);
}

.pricing_content {
    color: #fff;
    position: absolute;
    top: 21px;
    left: 19%;
}

.pricing__heading {
    text-align: center;
}

.pricing__heading_top {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--saira);
    span {
        font-weight: 600;
        font-size: 22px;
        text-decoration: line-through;
    }
}

.pricing__heading_desc {
    font-size: 54px;
    font-family: var(--saira);
    font-weight: 800;
    color: transparent;
    background-image: linear-gradient(to bottom, #FFDF0C 0%, #FBBC38 100%);
  
     background-clip: text;
     -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    margin: 0;
    position: relative;
    top: -20px;
}

.pricing_detail {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 4px;
    font-family: var(--saira);
    font-weight: 300;
    font-size: 14px;
}

.list_icon {
    width: 15px;
    height: 15px;
}

.pricing_detais {
    display: flex;
    flex-direction: column;
    gap: 11px;
    margin-top: -10px;
}

.pricing_button_container {
    text-align: start;
    width: fit-content;
    margin-top: 25px;
}

.pricing_button {
    font-weight: 500;
    font-family: var(--saira);
    font-size: 14px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 9px 35px;
    background-image: linear-gradient(to bottom, #0066FF 0%, #0400BB 100%);
    transition: all .5s ease;

    &:hover {
        filter: invert(1);
    }
}
.portfolio__section {
    background-color: #000;
    
}
.portfolio__heading_div {
    margin-bottom: 95px;
    text-align: center;
    background: url("./assets/heading\ border\ 2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: relative;
    top: -10px;
}
.portfolio__heading {
    width: 273px;
    

}

.portfolio_container {
    background-image: url(./assets/portfoliobg.png);
    min-height: 500px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.portfolio_top {
    display: flex;
    background-image: url(./assets/portfolio-bg-1.png);
    min-height: 644px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    position: relative;
   
}

.portfolio_top_left,.portfolio_top_right {
    width: 50%;
}
.portfolio_top_left {
    max-width: 510px;
}
.portfolio_top_left_img {
    max-width: 461px;
   
}

.portfolio_top_left {
    text-align: center;
}

.portfolio_top_left_heading {
  font-family: var(--saira);
  font-size: 30px;
  font-style: italic;
  color: #FFFF00;
  padding: 13px 110px;
  line-height: 24px;
  background-image: linear-gradient(to right, #2fb3f50b 5%, #70CFFF 25%, #70CFFF 75%, #2fb3f50b 95%);
  position: relative;
  top: -30px;
  margin-bottom: 10px;
}

.portfolio_top_left_desc {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    font-family: var(--saira);
    max-width: 480px;
    text-align: start;
}
.portfolio_top_right {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.portfolio_top_right_ss {
    margin-right: -40px;
}

.portfolio_bottom {
    background-image: url(./assets/portfolio\ bottom.png);
   
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -50px;

}

.portfolio_bottom_content {
    text-align: center;
    padding: 105px 0 43px 0;
}
.portfolio_mobile {
    display: none;

}

.portfolio_bottom_heading {
    font-size: 30px;
    font-family: var(--saira);
    font-weight: 600;
    color: #FBFB3C;
}

.portfolio_bottom_subheading {
    font-size: 20px;
    font-family: var(--saira);
    color: #fff;
    margin-bottom: 25px;
}

.footer_img {
    width: 100%;
}

.footer {
    margin-top: -5%;
}

.STANDARD_name {
    color: #6F0090;
    left: -43px;
}
.PLATINUM_name {
    color: #A30000;
    left: -40px;
}
.info_2_mobile_img {
    width: 80%;
}
.STANDARD_button {
    background-image: linear-gradient(to bottom, #6F0090 0%, #A700D8 100%);
}
.PLATINUM_button {
    background-image: linear-gradient(to bottom, #FF1818 0%, #FF1818 100%);
}
.info_2_mobile {
    display: none;
}
@media (max-width: 1180px) {
   .info_2_section_pc {
    display: none;
   }
   .info_2_mobile {
    display: block;
    padding-top: 60px;
    text-align: center;
    padding: 5px;
    position: relative;
    margin-bottom: 350px;
   }
   .info_2_mobile_heading {
    color: #FFFF3C;
    padding: 12px 124px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--poppins);
    font-style: italic;
    background-image: linear-gradient(to right, #00000000 0%, #890073 25%,#EB2582 50%, #890073 75%, #00000000 100%);
    transform: rotate(-3.29deg);
    
   }
   .info_2_mobile_texts {
    background-image: linear-gradient(to bottom,#42fffc0e 0%,#42fffc1f 9%,#42fffc4b 27%,#42fffc6a 51%,#42fffca9 80%, #42FFFC 100%);
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    min-height: 200px;
    padding: 50px 34px;
    border-radius: 10px;
    position: absolute;
    top: 70%;
}

.info_2_mobile_text {
    background-image: linear-gradient(to bottom, #9442FF 0%,#9442ffe5 20%, #9442ffbf 49%,#9442ff94 73%, #9442ff6d 91%, #9442ff41 100%);
    padding: 71px 22px 76px 22px;
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    -webkit-clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
    border-radius: 10px;
}
.info_2_mobile_desc {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--poppins);
    color: #fff;
}
.info_2_mobile_text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: justify;
}
.portfolio_mobile {
    display: block;
    padding: 0;
}
.portfolio_top,.portfolio_bottom {
    display: none;
}
.portfolio_mobile_top_heading_section_img {
    width: 70%;
}
.portfolio_mobile_top_heading_section {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.portfolio_mobile_top_heading {
    color: #FFFF3C;
    padding: 12px 124px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-family: var(--poppins);
    font-style: italic;
    background-image: linear-gradient(to right, #2fb3f50b 5%, #70CFFF 25%, #70CFFF 75%, #2fb3f50b 95%);
    
}
.portfolio_mobile_top_desc_section {
    background-image: linear-gradient(to bottom, #ff70e00b 0%, #F52FC9 100% );
    min-height: 200px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 152px 30px 25px 30px;
}
.portfolio_mobile_top_desc {
    font-family: var(--poppins);
    font-size: 20px;
    color: #fff;
    text-align: justify;
    padding-top: 75px;
}
.portfolio_img_section {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.portfolio_img {
    width: 100%;
}
.portfolio_mobile_top_desc_section {
    margin-top: -152px;
}
.portfolio_mobile_bottom {
    text-align: center;
    margin-top: 30px;
    background-image: linear-gradient(to bottom, #42FFFC 0%, #42fffc39 100%);
    padding: 24px 93px;
    border-radius: 10px;
    margin-bottom: 125px;
    
}
.footer {
    color: transparent;
}
.portfolio_mobile_bottom_heading {
    color: #FBFB3C;
    font-family: var(--poppins);
    font-weight: 700;
    font-size: 20px;
}
.portfolio_mobile_bottom_subheading {
    color: #fff;
    font-size: 16px;
    font-family: var(--poppins);
    margin-bottom: 20px;
}
.portfolio_mobile_bottom_button {
    color: #fff;
    font-size: 20px;
    font-family: var(--poppins);
    font-weight: 900;
    padding: 8px 20px;
    background-image: url(./assets/hero\ button\ bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

}
.mobile_hero_container {
    display: none;
}
@media (max-width: 1055px) {
    .navber {
        display: none;
    }
    .hero_container {
        display: none;
    }
    .mobile_hero_container {
        display: block;
        text-align: center;
       
    }

    .mobile_hero {
        display: block;
        z-index: 999999999;
        position: relative;
        margin-bottom: 50%;
    }
    .mobile_headings {
        position: absolute;
        bottom: -55%;
    }
    .mobile_top_heading {
          width: 80%;
    }
    .mobile_heading{
        width: 90%;
    }
    .info_1_desc {
        font-size: 12px;
        font-family: var(--saira);
        font-weight: 400;
    }
    .info_1_left {
        padding: 80px 0
    }
    .info_1 {
        background-size: contain;
    }
}
@media (max-width: 991px) {
    .feature__card_container {
        justify-content: space-between;
    }
.info_1_container {
     flex-direction: column-reverse;
}
.info_1_left_texts {
    max-width: 500px;
}
.info_1_bg {
    max-width: fit-content;
    margin: 0 auto;
}
.advantage_top_heading  {
    margin-top: 0;
}
.portfolio__heading_div {
    margin-bottom: 0;
}
.showcase__container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 39px 29px;
}
.pricing_section_heading {
    padding: 20px 0 35px 0;
}
}

.mobile_border {
    position: absolute;
    top: 66px;
    left: 35%;

}
.swiper-container, .swiper-container2 {
    width: 100%;
    overflow-x: hidden;
  
    
}
.mobile_hero_img {
    width: 75%;
}
.swiper-slide {
   display: flex;
   justify-content: center;
}

@media (max-width: 726px) {
    .advantage_top_heading {
        margin-top: 50px;
    }
    .portfolio__heading {
        width:192px
    }
    .portfolio_mobile_top_heading_section {
        width: 80%;
    }
    .feature_card_img{
width: 176px;
    }
    .card__text {
        font-size: 12px;
        line-height: 16px;
    }
    .feature__card_container{
        margin-top: 0;
    }
    .pricing__cards {
        gap: 25px;
    }
    .portfolio_mobile_top_desc_section{
        padding: 100px 30px 25px 30px;
    }
    .mobile_hero {
        margin-bottom: 40%;
    }
    .info_1 {
        background-image: url(./assets/mobile\ people\ playing.png);
    }
    
}

@media (max-width: 664px) {
    
    .info_2_mobile_heading,.portfolio_mobile_top_heading,.portfolio_mobile_bottom_heading,.advantage_top_heading,.advantage_main_heading,.pricing__top_heading {
        font-size: 16px;
    }
    .info_2_mobile_desc,.portfolio_mobile_top_desc ,.portfolio_mobile_bottom_subheading{
        font-size: 12px;
    }
    .portfolio_mobile_bottom_button  {
        font-size: 14px;
    }
    .mobile_border {
        left: 25%;
        width: 50%;
    }
    .info_2_mobile_heading {
        padding: 12px 70px;
    }
    .portfolio_mobile_top_heading {
        padding: 12px 35px;
    }
    .portfolio_mobile_bottom {
        margin-bottom: 70px;
    }
    .portfolio_mobile_top_heading_section {
        width: 100%;
    }
    .pricing__section {
        padding-bottom: 36px;
    }
}
@media (max-width: 518px) {
    .info_1_left {
        padding: 0;
    }
    .info_1_left_texts_heading {
        font-size: 16px;
    }
   
    .info_1_border_img{
        margin: 2px;
        width: 40%;
    }
    .mobile_border {
        left: 25%;
    }
    .info_1_left {
        padding: 0;
    }
    
    .hero__button{
        font-size: 14px;
        padding: 5px 30px;
    }
}
@media (max-width: 475px) {
    .info_1_left_texts {
        padding: 79px 64px 162px 76px;
        line-height: 12px;
    }
    
}
@media (max-width: 430px) {
    
    .advantage_section {
        margin-top: 450px;
    }
    .portfolio_mobile_bottom_button  {
        font-size: 12px;
    }
    .portfolio_mobile_bottom_heading {
        font-size: 13px;
    }
    .info_1_left_texts {
        padding: 88px 47px 162px 60px;
    }
    .info_2_mobile {
        margin-bottom: 250px;
    }
    .portfolio_img {
        width: 124px;
    }
    .feature__card_container {
        justify-content: center;
    }
}


@media (max-width: 350px) {
    
    .info_1_left_texts {
        padding: 130px 41px 162px 57px;
        font-size: 11px;
    }
    .advantage_main_heading{
        font-size: 14px;
    }
    .advantage_section {
        margin-top: 500px;
    }
    .pricing__heading_top {
        font-size: 15px;
    }
    .pricing__heading_desc {
        font-size: 49px;
    }
    .pricing_detail {
        font-size: 11px;
    }
    .pricing_button{
        font-size: 13px;
    }
}

@keyframes rotate3D {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(36deg);
    }
    100% {
        transform: rotateY(0deg);
    }
    
}


