* {
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
.main_content {
    padding-top: 20px;
    
}

.main_container {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 20px;
}
.main_heading {
    font-size: 3rem;
    text-align: center;
    padding: 30px;
    color: #363535;
    background-color: #efefef;
}
.swiper {
    margin: 20px;
}

.sild_container {
   height: 500px;
    background-image: url('./bgktan.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* .sild_overlay {
    width: 100%;
    height: 500px;
    background-color: #1e00fffb;
    opacity: .8;
} */
.slide_one {
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100%;
    flex-direction: column;
    padding: 0 40px;
    background-color: #1e00fffb;
    opacity: .8;

}
.bk2topbtn {
    font-size: 30px;
    padding: 12px 15px;
    background-color: #7b7b7d77;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 20px;
    color: #fff;
    display: none;
    transition: all .5s;
    cursor: pointer;
    &:hover {
        background-color: #767676;
    }
}
.visible {
    display: block;
}
.slider_one_heading {
    font-size: 3rem;
    font-weight: 300;
    color: #fff;
}
.slider_one_link {
    color: red;
}
.right__sidebar_div {
    background-color: #fff;
    padding: 60px;
    margin-bottom: 30px;
}
.sidebr_list_ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: green;
    margin-top: 20px;
    margin-left: 40px;
    
}
.sidebar_list_li {
    cursor: pointer;
}
.footer_4_ancore {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.login__container {
    max-width: 550px;
    width: 100%;
    margin: 100px auto;
    padding: 20px;

    
}
.image_bg {
    background-image: url("./login_bg.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
   padding-bottom: 20px;

}
/* Heading styles */
.login__heading {
    text-align: center;
    margin-bottom: 10px;
    font-size: 3rem;
    color: #161616;
}

/* Form styles */
.login__form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.flip-card {
    background-color: transparent;
    width: 250px;
    height: 280px;
    perspective: 1000px;
    margin-top: 20px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #bbb;
    color: black;
}
.flippingcard_div {
    display: flex;
    justify-content: center;
}

.flip-card-back {
    background-color: #55b4d4;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login_input {
    padding: 1.07em .5em;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.login__buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login__btoon {
    padding: 1.07em .5em;
    font-size: 16px;
    color: #fff;
    background-color: #2c11ea;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    text-align: center;
    transition: all .5s;
}

.login__btoon:hover {
    background-color: #1f0ca3;
}


@media (max-width: 500px) {
    .main_heading {
        font-size: 2rem;
    }
    .slide_one {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .slider_one_heading {
        font-size: 1.8rem;
    }
}

.big_heading {
    margin-top: 100px;
    font-size: 1.5rem;
}

.subheading {
    color: #767676;
    font-size: 1rem;
    margin-bottom: 10px;
    &::before {
        content: "âœ";
        font-weight: 400;
        color: #fff;
        background-color: rgb(20, 157, 204);
        border-radius: 50%;
        margin-right: 15px;
        padding: 3px 0;
    }
}
.main_subheading_desc {
    color: #767676;
    font-size: 1rem;
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: 0 35px;
}
.heading_with_bg {
    background-color: #eeeeee;
    padding: 20px;
}
.primary__heading {
    font-size: 3rem;
    color: #363535;
    text-align: center;
    padding-bottom: 35px;
}

.very__big_text_container {
    margin-top: 150px;
    margin-bottom: 100px;
    text-align: center;
}
.very__big_heading {
    font-size: 48px;
    color: #232323;
}
.vary__big_subheading {
    color: #767676;
    font-size: 1.5rem;
    margin-top: 20px;
}
.white__card {
    width: 100%;
    background-color: #fff;
    
}
.white__card_img {
    width: 120px;
    height: 120px;
    margin-bottom: 1.6rem;
    overflow: hidden;
    border-radius: 50%;
    text-align: center;
    margin-top: 100px;
}

.one__list_heading,.one__list_desc {
    font-size: 1rem;
    color: #767676;
    margin-left: 50px;
}
.other__list_heading,.other__list_item {
    font-size: 1rem;
    color: #767676;
    margin-left: 60px;
}
.other__list_item {
    margin-left: 100px;
    font-weight: 300;
}
.list__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 100px;
    margin-bottom: 50px;
}
.divider {
    padding: 120px;
}
.white_bg_heading_container {
    background-color: #fff;
    text-align: center;
    padding: 30px 0;
}
.withpadding2_container {
    max-width: 1100px;
    margin: 0 auto;
}
.white_bg_desc {
    padding-bottom: 50px;
    padding-top: 20px;
    color: #767676;
    font-weight: 300;
    font-size: 1.5rem;
}
.white_bg_heading {
    font-size: 3rem;
}
.withpadding_container {
    max-width: 950px;
    margin: 0 auto;
    padding: 0 20px;
}
.withpadding3_container {
    max-width: 750px;
    margin: 0 auto;
    padding: 0 20px;
}
.button__container {
    padding: 100px 0;
}
.bantuan_button_one,.bantuan_button_two {
    font-size: 1rem;
    padding: 1rem 3rem;
    border-radius: 90px;
    gap: 20px;
}
.bantuan_button_one {
    color: green;
    background-color: transparent;
    border: transparent;
    font-weight: 500;
    transition: all .5s;
    &:hover {
        box-shadow:0 10px 40px 0 rgba(0, 0, 0, 0.2)  ;
        -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
        color: #000;

    }
}

.bantuan_button_two {
    color: #fff;
    background-color: #2c11ea;
    border: #2c11ea;
    font-weight: 500;
    transition: all .5s;
    &:hover {
       background-color: #1f0ca3  ;

    }
}
.searchbar_container {
    margin-top: 20px;
    margin-bottom: 20px;
}
.input__search {
    width: 65%;
    background-color: #f5f5f5;
    box-shadow: none;
    color: #565656;
    line-height: 1.43;
    min-height: 2em;
    padding: .6em .5em;
    outline:none;
    border: 1px solid #edecec;
    font-size: 1rem;
    border-radius: 5px;
}
.button__search {
    width: 30%;
    background-color: #2c11ea;
    box-shadow: none;
    color: #fff;
    line-height: 1.43;
    padding: .6em .5em;
    font-size: 1.1rem;

    transition:  1s;
    &:hover{
        background-color: #1f0ca3;
    }
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 15px 20px;
    text-align: left;
    border-top: 1px solid #dee2e6;
    line-height: 15pxpx;
}

.table_ancore {
    text-decoration: none;
    color: red;
}


tbody tr:nth-child(odd) {
    background-color: #f5f5f5;
}

.table_pagination {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    &>p{
        padding: 5px 10px;
        border: 1px solid #dee2e6;
        color: green;
        cursor: pointer;
        &:hover {
            background-color: rgba(0, 128, 0, 0.175);
        }
    }
}

.active_pegi {
    background-color: #2c11ea;
    color: #fff !important;
}
.table__container {
    overflow-x: scroll;
}
.image__container {
    display: flex;
    gap: 20px;

}
.batari_left {
    width: 60%;
}
.batari_right {
    flex: 1;
}
.contact_img {
    width: 100%;
}
.contact_text>h4,.contact_text>p {
   margin: 20px;
   color: #000;
}
.contact_text>h4 {
    font-weight: 500;
}
.contact_div {
    background-color: #fff;
    margin-bottom: 40px;
}
.body {
    background-color: #dee2e6;
}
.contact_text {
    padding-bottom: 20px;
}
.blog__post_container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.blog {
    background-color: #fff;
    max-width: 450px;

}

.blog__texts {
    padding: 20px;
}
.blog__texts {
    color: #767676;
    margin: 20px 0;
}
.blog__post_container {
    padding-bottom: 50px;
}
.blog_btn {
    font-size: 1rem;
    background-color: transparent;
    border-color: transparent;
    color: #464343;
    padding: 10px 20px;
    border-radius: 100px;
    transition: all 1s;
    font-weight: 600;
    &:hover {
       background-color: #9a9898;
    }

}
.blog_btn_div {
    text-align: center;
    margin-top: 30px;
}




@media (max-width: 900px) {
    .button__container {
        text-align: center;
    }
    .bantuan_button_one,.bantuan_button_two {
        font-size: .75rem;
    }
    .input__search {
        width: 97%;
        padding: 10px;
    }
    .button__search {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
    }
   
    
}


@media (max-width: 600px) {
    .big_heading {
      font-size: 1rem;
    }
    .primary__heading {
        font-size: 1.5rem;
        padding-bottom: 30px;
    }
    .white_bg_heading {
        font-size: 1.5rem;
    }
    .very__big_heading {
        font-size: 1.5rem;
    }
    .white_bg_desc ,.vary__big_subheading {
        font-size: 1.2rem;
    }
    .one__list {
        padding-right: 3rem;
    }
    .image__container {
        flex-direction: column;
    }
    .batari_left,.batari_right {
        width: 100%;
    }
    
   

}

@media (max-width: 600px) {
    .login__container {
        padding: 15px;
    }

    .login__heading {
        font-size: 25px;
    }

    .login_input, .login__btoon {
        font-size: 14px;
    }
}
